body {
    background-color: rgb(181, 214, 181);
    text-align: center;
    justify-content: center;
}

.container {
    margin: 4%;
    background-color: white;
    padding: 20px;
    border: 10px double rgb(70, 99, 70);
}